.forgot-password {
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(40, 40, 81, 0.28) 0px 4px 7px 12px;
    text-align: center;
    padding: 20px;
    background-color: rgb(237, 203, 178);
}
table tr {
    
    border-style: hidden;
}